<nav class="navigation">
  <section class="navigation-center">
    <a class="navigation-center-item" routerLink="/home">Home</a>
    <a class="navigation-center-item" routerLink="/dashboard">Dashboard</a>
    <a class="navigation-center-item" routerLink="/employees">Virtual scroll</a>
  </section>
  <section class="navigation-right">
<!--    <button (click)="switchTheme('theme-white')">white</button>-->
<!--    <button (click)="switchTheme('theme-black')">black</button>-->
    <app-switch [formControl]="themeControl"></app-switch>
  </section>
</nav>
