.employees {
  display: flex;
  width: 90vw;
  box-shadow: #b9b3b3 0px 0px 18px 2px;
  padding: 20px;
  border-radius: 6px;

  .employees-left {
    flex-grow: 1;
    flex-basis: 100%;
    max-height: 500px;
    overflow-y: auto;

    .employees-list {
      height: calc(100% - 28px);
      width: auto;

      &-item {
        display: flex;
        height: 20px;
        cursor: pointer;
        align-items: center;
        transition-property: border, background-color;
        transition: 300ms cubic-bezier(0.04, -0.07, 0.07, 1.01);

        &.selected {

          background-color: #f1f1f1;
          border-left: 4px solid;
          padding-left: 7px;
        }
      }

      &-stats {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        height: 19px;
        max-height: 19px;
        overflow: hidden;
        justify-content: space-between;
      }
    }
  }

  .employees-right {
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    max-height: 500px;
    height: 500px;
    overflow-y: auto;
    position: relative;

    &-comp-wrap {

      width: 100%;
    }
  }
}


:host-context(.theme-black) {

  .employees {

    .employees-left {

      .employees-list {

        &-item {

          &.selected {

            background-color: #212121;
            border-left: 4px solid;
            padding-left: 7px;
          }
        }
      }
    }
  }
}
