/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

* > * {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;

  &:hover {

  }
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 2px rgb(160, 160, 160);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
